# Census Data Collection

This notebook uses the Census Data API to collect data for all tracts in Boston's Suffolk County from the 2000 and 2010 Censuses.

A note on the API: there is a variable limit of 50 per single query so queries were run separately and the dataframes were later concatenated.

## 2000 Census Data - Boston

In [10]:
import pandas as pd
import requests

In [3]:
pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.precision', 2)
pd.set_option('max_colwidth',60)

## File 1

In [316]:
# grab the data for all variable options 
# this df provides table ID and names
response_vars = requests.get('https://api.census.gov/data/2000/sf1/variables')
data_vars = response_vars.json()
df_vars=pd.DataFrame(data_vars)

In [317]:
df_vars.head()
header_vars = df_vars.iloc[0]

In [318]:
df_vars=df_vars[1:]

In [319]:
df_vars.rename(columns=header_vars, inplace=True)

In [320]:
# melt the df so we can concatenate it to the df with the values and can rename the columns with long label names
melted_df_variables = df_vars.melt(id_vars=['name'],value_vars=['label'])

## Population Data

In [321]:
response_sf1_call1 = requests.get('https://api.census.gov/data/2000/sf1?get=P001001,P003003,P003004,P003006,P003008,P003009,P004002,P015001,P016001,P018002,P018005,P018007,P018008,P019002,P019011,P020017,P020002,P034002,P037001,P037002,P037006&for=tract:*&in=state:25%20county:025')
data_sf1_call1 = response_sf1_call1.json()

In [322]:
# put data into df and make 1st row the header
df_sf1_call1 = pd.DataFrame(data_sf1_call1)
header = df_sf1_call1.iloc[0]
df_sf1_call1=df_sf1_call1[1:]

In [323]:
df_sf1_call1.rename(columns=header, inplace=True)

In [324]:
df_sf1_call1.head()

  P001001 P003003 P003004 P003006 P003008 P003009 P004002 P015001 P016001 P018002  ... P019011 P020017 P020002 P034002 P037001 P037002 P037006 state county   tract
1       0       0       0       0       0       0       0       0       0       0  ...       0       0       0       0       0       0       0    25    025  000000
2    3968    2940     153     402     271     185     349    1563    3930     409  ...    1247     291    1272     499      38       0      38    25    025  000100
3    3887    3166     123     324     118     143     289    1543    3841     368  ...    1294     224    1319     479      46       0      46    25    025  000201
4    3925    2738     270     590     189     123     442    1494    3905     372  ...    1102     272    1222     492      20       0      20    25    025  000202
5    2923    2453      88     204      69     101     162    1159    2747     287  ...     959     191     968     378     176     170       6    25    025  000301

[5 rows x 24 columns]

## Housing Data

In [328]:
response_sf1_call2 = requests.get('https://api.census.gov/data/2000/sf1?get=H001001,H003002,H003003,H006001,H006002,H006003,H006007,H007010,H013001,H013002,H013003,H013004,H013005,H013006,H013007,H013008&for=tract:*&in=state:25%20county:025')
data_sf1_call2 = response_sf1_call2.json()

In [329]:
df_sf1_call2 = pd.DataFrame(data_sf1_call2)
header2 = df_sf1_call2.iloc[0]
df_sf1_call2=df_sf1_call2[1:]

In [330]:
df_sf1_call2.rename(columns=header2, inplace=True)

In [331]:
df_sf1_call2.head()

  H001001 H003002 H003003 H006001 H006002 H006003 H006007 H007010 H013001 H013002 H013003 H013004 H013005 H013006 H013007 H013008 state county   tract
1       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0    25    025  000000
2    1614    1563      51    1563    1271      57      57      97    1563     409     519     298     194      86      40      17    25    025  000100
3    1574    1543      31    1543    1343      34      29      69    1543     368     541     338     184      63      31      18    25    025  000201
4    1516    1494      22    1494    1144      90      54     123    1494     372     470     273     208     115      39      17    25    025  000202
5    1194    1159      35    1159    1009      34      19      50    1159     287     467     210     124      43      17      11    25    025  000301

## File 3

In [333]:
# grab the data for all variable options # this df provides table ID and names
response_sf3_vars = requests.get('https://api.census.gov/data/2000/sf3/variables')
data_sf3_vars = response.json()
df_sf3_vars=pd.DataFrame(data_sf3_vars)

In [334]:
header3 = df_sf3_vars.iloc[0]

In [335]:
df_sf3_vars=df_sf3_vars[1:]

In [336]:
df_sf3_vars.rename(columns=header3, inplace=True)

In [337]:
df_sf3_vars.head()

      name                                     label                                                      concept
1      for              Census API FIPS 'for' clause                           Census API Geography Specification
2       in               Census API FIPS 'in' clause                           Census API Geography Specification
3  P029009   RELATIONSHIP BY AGE HH:REL CHD:Own:6-11  P29. Relationship By Age For The Population Under 18 Yea...
4  P029007  RELATIONSHIP BY AGE HH:REL CHD:Own:3'&'4  P29. Relationship By Age For The Population Under 18 Yea...
5  P029008      RELATIONSHIP BY AGE HH:REL CHD:Own:5  P29. Relationship By Age For The Population Under 18 Yea...

In [ ]:
# MELT THE DF

In [ ]:
# Other

In [347]:
response_sf3_call1 = requests.get('https://api.census.gov/data/2000/sf3?get=P021002,P021003,P021009,P021014,P026001,P026002,P026003,P026004,P026005,P030002,P030003,P030004,P030005,P030006,P030007,P030008,P030009,P030013,P030014,P030016,P037002,P037003,P037011,P037014,P037015,P037016,P037017,P037018,P037019,P037020,P037028,P037031,P037032,P037033,P037034,P037035&for=tract:*&in=state:25%20county:025')
data_sf3_call1 = response_sf3_call1.json()

In [348]:
df_sf3_call1 = pd.DataFrame(data_sf3_call1)

header4 = df_sf3_call1.iloc[0]
df_sf3_call1=df_sf3_call1[1:]
df_sf3_call1.rename(columns=header4,inplace=True)

In [349]:
df_sf3_call1.head()

  P021002 P021003 P021009 P021014 P026001 P026002 P026003 P026004 P026005 P030002  ... P037020 P037028 P037031 P037032 P037033 P037034 P037035 state county   tract
1       0       0       0       0       0       0       0       0       0       0  ...       0       0       0       0       0       0       0    25    025  000000
2    2935    1982     114     447    2287    2262    1258    1004      25    1526  ...      34     392      49     339     132      28      14    25    025  000100
3    2886    1726      88     457    2681    2664    1337    1327      17    1715  ...      49     203      92     457     152      46      24    25    025  000201
4    2620    1839      56     601    2172    2162    1179     983      10    1566  ...      28     340      72     393     150      16       5    25    025  000202
5    2142    1277      23     346    1625    1586     803     783      39    1202  ...      15     255      57     364     195      29       0    25    025  000301

[5 rows x 39 columns]

In [353]:
# second dataframe 
response_sf3_call2 = requests.get('https://api.census.gov/data/2000/sf3?get=P043002,P043006,P043007,P043009,P043013,P043014,P076001,P076002,P076003,P076004,P076005,P076006,P076007,P076008,P076009,P076010,P076011,P076012,P076013,P076014,P076015,P076016,P076017,P077001&for=tract:*&in=state:25%20county:025')
data_sf3_call2 = response_sf3_call2.json()

In [354]:
df_sf3_call2 = pd.DataFrame(data_sf3_call2)

header5 = df_sf3_call2.iloc[0]
df_sf3_call2=df_sf3_call2[1:]
df_sf3_call2.rename(columns=header5,inplace=True)

In [355]:
df_sf3_call2.head()

  P043002 P043006 P043007 P043009 P043013 P043014 P076001 P076002 P076003 P076004  ... P076012 P076013 P076014 P076015 P076016 P076017 P077001 state county   tract
1       0       0       0       0       0       0       0       0       0       0  ...       0       0       0       0       0       0       0    25    025  000000
2    1780    1277      57    1683    1067      45     700      37      39      41  ...     133      53      52       0       6      13   46100    25    025  000100
3    1756    1433      30    1747    1318      24     680      19       0      26  ...     115     161      37      31      32       0   62368    25    025  000201
4    1558    1145      25    1700    1076      37     782      50      29      44  ...     111     177      62      14      17       0   59306    25    025  000202
5    1107     732      27    1380     910       0     507      25      33       9  ...     110      74      56      16       0       0   60347    25    025  000301

[5 rows x 27 columns]

In [356]:
response_sf3_call3 = requests.get('https://api.census.gov/data/2000/sf3?get=H030002,H030003,H030004,H030005,H030009,H055001,H056001,H057001,H063001,H085001,H086001&for=tract:*&in=state:25%20county:025')
data_sf3_call3 = response_sf3_call3.json()
df_sf3_call3 = pd.DataFrame(data_sf3_call3)
header6 = df_sf3_call3.iloc[0]
df_sf3_call3=df_sf3_call3[1:]
df_sf3_call3.rename(columns=header6,inplace=True)

In [357]:
df_sf3_call3.head()

  H030002 H030003 H030004 H030005 H030009 H055001 H056001 H057001 H063001 H085001    H086001 state county   tract
1       0       0       0       0       0       0       0       0       0       0          0    25    025  000000
2     135     100     482     525     112     559     898    1181     993  222100   94815000    25    025  000100
3     244      46     557     526      25     717     991    1350    1110  265600  123345000    25    025  000201
4     258      46     627     263       9     424     820    1084     857  276700  140145000    25    025  000202
5     190      47     429     209      99     547     971    1185    1052  214400  107727500    25    025  000301

In [ ]:
## merge all the 2000 census data

In [ ]:
df_2000 = pd.merge(df_sf1_call1,df_sf1_call2,df_sf3_call1,df_sf3_call2,df_sf3_call3)

# 2010 Census Data- Boston

## File 1

In [295]:
response2010 = requests.get('https://api.census.gov/data/2010/dec/sf1?get=P001001,P003003,P003004,P003006,P003008,P003009,P004002,P015001,P016001,P018002,P018005,P018007,P018008,P019002,P019011,P020017,P020002,P034002,P037001,P037002,P037006&for=tract:*&in=state:25%20county:025')
data2010 = response.json()

In [296]:
df_2010 = pd.DataFrame(data2010)

In [297]:
df_2010

          0        1        2        3        4        5        6        7        8        9          10     11      12      13
0    H030002  H030003  H030004  H030005  H030009  H055001  H056001  H057001  H063001  H085001    H086001  state  county   tract
1          0        0        0        0        0        0        0        0        0        0          0     25     025  000000
2        135      100      482      525      112      559      898     1181      993   222100   94815000     25     025  000100
3        244       46      557      526       25      717      991     1350     1110   265600  123345000     25     025  000201
4        258       46      627      263        9      424      820     1084      857   276700  140145000     25     025  000202
5        190       47      429      209       99      547      971     1185     1052   214400  107727500     25     025  000301
6        232       19      566      396       11      916     1241     1504     1331   259500  159300000     25     025  000302
7        125      120      525      289      884      289      819     1143      900   202700  119795000     25     025  000401
8        149       72      508      205        7      813     1021     1355     1093   303200  122940000     25     025  000402
9          0        7       63      268      703      635      901     1174      941   132000   98000000     25     025  000501
10         0        0       67       38      720      638      882     1170      903   169700   50427500     25     025  000502
11       174       78      398      241       36      782      910     1098      993   263400  110792500     25     025  000601
12        40      205      160      183      616      201      674      964      716   208300   38222500     25     025  000602
13        26       12      159      160      120      781      944     1240      980   148500   53307500     25     025  000701
14        35       39      126      236      318      715      882     1155      928   138800   50167500     25     025  000702
15        12        7       13       55      443      528      970     1202      970   271400    4850000     25     025  000801
16       170      109      458      617      644      718     1015     1413     1078   226400   86722500     25     025  000802
17         0       11       12      109      759      420      997     1335     1026   337200  168025000     25     025  010101
18         0        0        0       43      122      738      986     1413      986   208300   11700000     25     025  010102
19         0        0        0       11      564      752      916     1144      961   129500   46827500     25     025  010201
20        11       21       18       73      115      778      914     1186      941   188400   29805000     25     025  010202
21         8       39        7       10      105      203      568      746      568   134300    6207500     25     025  010300
22         0       10       16      204     1169      715      985     1319     1024   195100   76580000     25     025  010401
23         0        0        0       41      374      165      566      976      598   146900   16025000     25     025  010402
24        11       34        7      280      547      568     1245     1654     1285   426000  126875000     25     025  010500
25         0        7        0       79     1227      884     1583     2001     1596   342200   75115000     25     025  010600
26        23       34       65      370      455      898     1198     1570     1218   520100  669437500     25     025  010700
27        23       56       63      466      261      863     1070     1440     1121   460600  911420000     25     025  010800
28        12      366      147      415      216      900     1188     1599     1249   724100  842485000     25     025  020100
29        17       78       59      518      126      709     1058     1375     1076   239200  204737500     25     025  020200
..       ...      ...      ...      ...      ...      ...      ...      ...      ...      ...        ...    ...     ...     ...
148     1154       20      369      135        9      652      862     1091      956   271900  378762500     25     025  130300
149      885      345      413      250      419      358      688      877      732   178900  226995000     25     025  130401
150     1004        7      405       73      130      546      747      846      789   185100  264762500     25     025  130402
151      896      143      306      141       24      603      720      949      831   174800  185360000     25     025  140102
152      796       11      267      119        0      678      782      972      968   165000  159830000     25     025  140103
153      576      328      308      250      114      226      512      646      559   150500  105252500     25     025  140104
154      242       28      248       40       10      589      691      744      742   188200   76437500     25     025  140201
155      898      242      609      137       51      364      596      730      661   186900  240692500     25     025  140202
156      630       68      613      394      312      286      593      779      659   181600  189587500     25     025  140300
157     1193      161      626      247      135      525      656      768      759   155400  266115000     25     025  140400
158        0        0        0        0        0        0        0        0        0        0          0     25     025  150100
159       73       70      584      900       85      521      649      771      748   152300   90195000     25     025  160100
160       40        5      113      630       49      460      629      744      720   149000   23935000     25     025  160200
161       37      222       80      219      498      284      548      945      624   166200   98830000     25     025  160300
162       26       15      158      432        7      271      582      701      654   151300   19370000     25     025  160400
163      295      109      999     1169      426      365      595      736      679   159300  163192500     25     025  160500
164      492      140      750      720      213      427      635      766      692   171000  182787500     25     025  160600
165     1142      112      837      254      147      545      712      832      749   178500  299837500     25     025  170100
166      615      235      432      413       13      221      487      707      534   190800  186810000     25     025  170200
167     1452      175      740      147      143      605      729      859      806   183700  373635000     25     025  170300
168      529      132      598      313      348      416      623      774      689   163800  161495000     25     025  170400
169      830       72      386      200     1415      441      658     1032      703   156500  241470000     25     025  170500
170      562       63      792      297       82      475      703      816      729   184500  208625000     25     025  170600
171      396      110      582      836      220      510      677      785      748   142300  133162500     25     025  170700
172      551       63      421      501      101      446      645      799      712   173900  155145000     25     025  170800
173      421        0      461      379      392      366      736      931      830   196400  210037500     25     025  180100
174      573       25      672      185        0      537      722      853      786   211000  213747500     25     025  180200
175      632       21      427      110        0      569      854     1090      974   263900  246107500     25     025  180300
176      266       40      262       81       46      670      778      899      837   224500   97787500     25     025  180400
177      635       54      558      358        0      602      743      881      807   195000  196600000     25     025  180500

[178 rows x 14 columns]