In [2]:
import pandas as pd

In [3]:
pd.set_option('display.max_rows',None)

# Data for 2000

In [4]:
df_2000 = pd.read_csv('LTDB_Std_2000_fullcount.csv',sep=',', engine='python')

In [5]:
df_2000_2 = pd.read_csv('LTDB_Std_2000_Sample.csv',sep=',', engine='python')

In [6]:
df_MA_full_2000 = df_2000[(df_2000['state']=='MA') & (df_2000['county']=='Suffolk County')]

In [7]:
df_MA_full_2000.head()

,TRTID10,state,county,tract,placefp10,cbsa10,metdiv10,ccflag10,POP00,NHWHT00,...,A60NTV00,AGEASN00,A15ASN00,A60ASN00,FAMILY00,FHH00,OWN00,RENT00,GlobD00,GlobG00
41892,25025000100,MA,Suffolk County,Census Tract 1,7000,14460,14484,1,3968.000000,2810.000000,...,0.0,403.000000,92.000000,40.000000,697.000000,62.000000,441.000000,1122.000000,wbha,Global
41893,25025000201,MA,Suffolk County,Census Tract 2.01,7000,14460,14484,1,3887.000000,3017.000000,...,1.0,328.000000,52.000000,26.000000,655.000000,45.000000,463.000000,1080.000000,wha,Dual immig
41894,25025000202,MA,Suffolk County,Census Tract 2.02,7000,14460,14484,1,3925.000000,2523.000000,...,0.0,593.000000,136.000000,56.000000,766.000000,148.000000,511.000000,983.000000,wbha,Global
41895,25025000301,MA,Suffolk County,Census Tract 3.01,7000,14460,14484,1,2923.000000,2363.000000,...,1.0,209.000000,32.000000,23.000000,529.000000,48.000000,445.000000,714.000000,wa,Single immig
41896,25025000302,MA,Suffolk County,Census Tract 3.02,7000,14460,14484,1,2909.483505,2356.817139,...,0.0,359.087952,35.812004,37.747791,587.510498,30.004654,634.937195,650.423462,wa,Single immig

In [8]:
df_MA_sample_2000 = df_2000_2[(df_2000_2['state']=='MA') & (df_2000_2['county']=='Suffolk County')]

# 2010 data

In [9]:
df_2010 = pd.read_csv('LTDB_Std_2010_fullcount.csv',sep=',', engine='python')

In [10]:
df_2010_2 = pd.read_csv('LTDB_Std_2010_Sample.csv',sep=',', engine='python')

In [11]:
df_MA_full_2010 = df_2010[(df_2010['state']=='MA') & (df_2010['county']=='Suffolk County')]

In [12]:
df_MA_full_2010.head()

,tractid,state,county,tract,pop10,nhwht10,nhblk10,ntv10,asian10,hisp10,...,a15hsp10,a60hsp10,ageasn10,a15asn10,a60asn10,agentv10,a15ntv10,a60ntv10,GlobD10,GlobG10
43048,25025000100,MA,Suffolk County,Census Tract 1,4254,2508,288,16,524,621,...,144,24,468,55,60,3,0,0,wbha,Global
43049,25025000201,MA,Suffolk County,Census Tract 2.01,3854,2728,275,13,352,407,...,121,32,324,44,41,5,1,1,wbha,Global
43050,25025000202,MA,Suffolk County,Census Tract 2.02,3885,2370,289,16,549,596,...,197,28,525,82,79,12,4,1,wbha,Global
43051,25025000301,MA,Suffolk County,Census Tract 3.01,2740,2050,161,4,307,190,...,31,23,295,41,30,0,0,0,wba,Semi global
43052,25025000302,MA,Suffolk County,Census Tract 3.02,3142,2295,103,4,480,229,...,25,8,449,47,63,2,1,0,wa,Single immig

In [13]:
df_MA_sample_2010 = df_2010_2[(df_2010_2['statea']==25) & (df_2010_2['countya']==25)]

# Change b/w 2000 and 2010

In [14]:
df_MA_full_2000.head()

,TRTID10,state,county,tract,placefp10,cbsa10,metdiv10,ccflag10,POP00,NHWHT00,...,A60NTV00,AGEASN00,A15ASN00,A60ASN00,FAMILY00,FHH00,OWN00,RENT00,GlobD00,GlobG00
41892,25025000100,MA,Suffolk County,Census Tract 1,7000,14460,14484,1,3968.000000,2810.000000,...,0.0,403.000000,92.000000,40.000000,697.000000,62.000000,441.000000,1122.000000,wbha,Global
41893,25025000201,MA,Suffolk County,Census Tract 2.01,7000,14460,14484,1,3887.000000,3017.000000,...,1.0,328.000000,52.000000,26.000000,655.000000,45.000000,463.000000,1080.000000,wha,Dual immig
41894,25025000202,MA,Suffolk County,Census Tract 2.02,7000,14460,14484,1,3925.000000,2523.000000,...,0.0,593.000000,136.000000,56.000000,766.000000,148.000000,511.000000,983.000000,wbha,Global
41895,25025000301,MA,Suffolk County,Census Tract 3.01,7000,14460,14484,1,2923.000000,2363.000000,...,1.0,209.000000,32.000000,23.000000,529.000000,48.000000,445.000000,714.000000,wa,Single immig
41896,25025000302,MA,Suffolk County,Census Tract 3.02,7000,14460,14484,1,2909.483505,2356.817139,...,0.0,359.087952,35.812004,37.747791,587.510498,30.004654,634.937195,650.423462,wa,Single immig

In [ ]:
## New df for change in values between 2000 and 2010

In [ ]:
def percent_change():

In [ ]:
df_full_change['pop_change'] = (df['pop10']-df['POP00']).div(df['POP00'])